html, body {
	font-family:"Lucida Console", Monaco, monospace;
	height:100%;
	min-height:100%;
}

#header {
	text-align:center;
	position:relative;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#getCategorie {
	cursor:pointer;
}

.nav-pills > li {
	margin-top:6px;
}

pre {
    white-space:normal;
	margin:0;
	padding-top:0;
}


.center {
	text-align:center;
}

.footer {
	border-top:solid black 5px;
	height: 61px;
}



/* Couleur du fond header et footer */
.header, .footer {
	background-color:#26408B;
}

/* Titre header & footer */
.title {
	color:#FDFFFC;
}

/* Couleur de la navbar */
#navbar {
	background-color:#05204A;
}

/* Couleur titre de la navbar */
.text-nav-bar {
	color:#FDFFFC; /* D8E4FF */
}

.wrap {
	min-height:100%;
/*		height: 100%; */
	/* Negative indent footer by its height */
	margin: 0 auto -61px;
	/* Pad bottom by footer height */
	padding: 0 0;
	background-image:url('../images/background-image.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.wrap > .main-content {
	background-color:rgba(193,193,193,0.8);
	padding-bottom:25px;
}

.push{
	height:60px;
}

.input-group {
	width:100%;
}


/* PARTIE LOGIN */
.panel-login>.panel-heading {
	background-color: #fff;
	border-color: #fff;
	text-align:center;
	font-weight:bold;
	margin-top:20px;
}
 
 .panel-heading a{
	color:#888888;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
 }
 
.panel-login>.panel-heading a.active{
	color: #26408B;
	font-size: 18px;
} 

.panel-login>.panel-heading a {
	text-decoration:none;
}

.btn-login {
	background-color: #26408B;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #26408B;
}

.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #3152b4;
	border-color: #3152b4;
}

.btn-register {
	background-color: #009933;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #009933;
}

.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #00802b;
	border-color: #00802b;
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height:40px;
	border: 1px solid #ddd;
	font-size: 14px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.msgError {
	margin-top:7px;
	font-size:12px;
	font-weight:bold;
	color:red;
	display:none;
}

#userInfo {
	position:absolute;
	top:50px;
	right:10px;
	color:#FDFFFC;
	font-weight:bold;
	cursor:pointer;
}

/* PARTIE RECETTES */
.thumbnail {
	display:block;
	overflow:auto;
}

.img {
	min-height:200px;
	max-height:200px;

}

.thumbnail-title {
	text-align:center;
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;
  
  /* Standar Syntax */
  animation: rainbow 1s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

.details {
	text-align:center;
}

.title-details {
	text-decoration:underline;
}

.cocktails-hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.pretty {
	font-size:25px;
}

.p-plain {
	color:pink;
}

#cocktailsPreferes {
	margin-bottom:20px;
}
	
.cocktailsPreferes {
	visibility:hidden;
}

.tooltip {
    position: fixed;
}

.form-group {
	margin-bottom:30px;
}

.form-group label {
	margin-left:5px;
}

.switch-gender {
	font-size:16px;
}

.form-control::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.5s ease;}
.form-control::-moz-placeholder                {opacity: 1; transition: opacity 0.5s ease;}
.form-control:-moz-placeholder                 {opacity: 1; transition: opacity 0.5s ease;}
.form-control:-ms-input-placeholder            {opacity: 1; transition: opacity 0.5s ease;}
.form-control:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}
.form-control:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.5s ease;}
.form-control:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.5s ease;}
.form-control:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.5s ease;}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px  #ccffcc inset !important;
}

.data-input {
	display:none;
}

.data-input-password {
	margin-bottom:10px;
}