html, body {
	font-family:"Lucida Console", Monaco, monospace;
	height:100%;
	min-height:100%;
}

#header {
	text-align:center;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.li-submenu a {
	cursor:default;
}

#li-sousCategorie a {
	cursor:pointer;
}

pre {
    white-space:normal;
	margin:0;
	padding-top:0;
}


.center {
	text-align:center;
}

.footer {
	border-top:solid black 5px;
	height: 61px;
}



/* Couleur du fond header et footer */
.header, .footer {
	background-color:#26408B;
}

/* Titre header & footer */
.title {
	color:#FDFFFC;
}

/* Couleur de la navbar */
#navbar {
	background-color:#05204A;
}

/* Couleur titre de la navbar */
.text-nav-bar {
	color:#FDFFFC; /* D8E4FF */
}

.wrap {
	min-height:100%;
/*		height: 100%; */
	/* Negative indent footer by its height */
	margin: 0 auto -61px;
	/* Pad bottom by footer height */
	padding: 0 0;
	background-image:url('../images/background-image.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.wrap > .main-content {
	background-color:rgba(193,193,193,0.8);
	padding-bottom:25px;
}

.push{
	height:60px;
}

.input-group {
	width:100%;
}


/* PARTIE LOGIN */
.panel-login>.panel-heading {
	background-color: #fff;
	border-color: #fff;
	text-align:center;
	font-weight:bold;
	margin-top:20px;
}
 
 .panel-heading a{
	color:#888888;
 }
 
.panel-login>.panel-heading a.active{
	color: #26408B;
	font-size: 18px;
} 

.panel-login>.panel-heading a {
	text-decoration:none;
}

.btn-login {
	background-color: #26408B;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #26408B;
}

.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #3152b4;
	border-color: #3152b4;
}

.btn-register {
	background-color: #009933;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #009933;
}

.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #00802b;
	border-color: #00802b;
}